<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Login here:</h1>
  <form action="/login"  method="POST">
    <div style="margin: 10px;">
      <label for="email">Username:</label>
      <input type="email" placeholder="type your email" name="email" >
    </div>
    <div style="margin: 10px;">
      <label for="password">Password:</label>
      <input type="password" placeholder="Enter your password" name="password">
    </div>
    <button type="submit" style="margin: 10px;">Login!</button>
  </form>
  
</body>
</html>