<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- Bootstrap CSS -->
   <link
   rel="stylesheet"
   href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
   integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
   crossorigin="anonymous"
 />
  <title>Document</title>
</head>

<body>
  <h1>Register here:</h1>
  <form action="/register" style="margin: 10px;" method="POST">
    <div style="margin: 10px;">
      <label for="email">Email:</label>
      <input type="email" style="margin-left: 23px;" placeholder="type your email" name="email">
    </div>
    <div style="margin: 10px;">
      <label for="password">Password:</label>
      <input type="password" placeholder="create a password" name="password">
    </div>
    <button type="submit" style="margin: 10px;">Register</button>
  </form>

  <% if(alarmFlag === 1){ %>

    <div class="alert alert-danger" role="alert" >
      <%= message %>
   </div>
  
  <% } %>

  <div style="margin: 20px,20px,20px 20px;">
    <a href="/urls" >return to homepage</a>
  </div>

</body>
</html>









