<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Register here:</h1>
  <form action="/register" style="margin: 10px;" method="POST">
    <div style="margin: 10px;">
      <label for="email">Email:</label>
      <input type="email" style="margin-left: 23px;" placeholder="type your email" name="email">
    </div>
    <div style="margin: 10px;">
      <label for="password">Password:</label>
      <input type="password" placeholder="create a password" name="password">
    </div>
    <button type="submit" style="margin: 10px;">Register</button>
  </form>
</body>
</html>








